<div class="row">
  <div class="col-xs-12">
    <h4>Fields</h4>
  </div>
</div>
<div class="row"
     *ngIf="type!=='basic'">
  <div class="col-xs-12">
    <p>Use the slider below to vary the amount of data gotten from the server. Set it back to 0 and hit 'Apply' to get the entire
      data set.</p>
    <div class="input-group">

      <dx-slider [width]="640"
                 [min]="0"
                 [max]="300"
                 [(value)]="sliderValue">
        <dxo-tooltip [enabled]="true"></dxo-tooltip>
        <dxo-label [visible]="true"
                   position="top"></dxo-label>

      </dx-slider>

      <span class="input-group-btn">
        <dx-button text="Apply"
                   (onClick)="getDataBySlider()"
                   type="normal"
                   [elementAttr]="{class: 'btn btn-default slider-apply-button' }">

        </dx-button>
      </span>
    </div>
  </div>
</div>
<hr>
<div class="row"
     *ngIf="type!=='basic'">
  <div class="col-xs-12">
    <p>Expand any of the Form/Task types below and check the fields that you wish to display in the dynamic columns grid, then
      hit 'Add to Grid'. Note that you need to wait until the dynamic grid finishes loading the inital data set.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <dx-data-grid id="gridContainer"
                  #grid
                  [dataSource]="remoteData"
                  [remoteOperations]="false"
                  [allowColumnReordering]="true"
                  [rowAlternationEnabled]="true"
                  (onContentReady)="onContentReady($event)"
                  (onRowRemoving)="deleteFieldDefinition($event)"
                  [hoverStateEnabled]="true"
                  (onRowUpdating)="updateFieldDefinition($event)"
                  (onRowInserting)="addFieldDefinition($event)"
                  (onToolbarPreparing)="onToolbarPreparing($event)"
                  [(selectedRowKeys)]="selectedRows">

      <dxo-header-filter [visible]="true"></dxo-header-filter>

      <dxo-selection mode="multiple"></dxo-selection>

      <dxo-editing mode="popup"
                   [allowUpdating]="true"
                   [allowAdding]="true"
                   [useIcons]="true"
                   [texts]='{addRow: "Add a field"}'
                   [form]='editFormConfig'>


      </dxo-editing>

      <dxo-paging [pageSize]="pageSize"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true"
                 [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
      <dxo-search-panel [visible]="true"
                        [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-grouping [autoExpandAll]="false"></dxo-grouping>


      <dxi-column dataField="Name"
                  dataType="string"
                  [visible]="type === 'basic' || type==='full'"></dxi-column>
      <dxi-column dataField="ControlType"
                  dataType="object"
                  [visible]="type==='full'">
        <dxo-lookup [dataSource]="metaTypesService.controlTypes"
                    valueExpr="id"
                    displayExpr="Name">
        </dxo-lookup>
      </dxi-column>
      <dxi-column dataField="Label"
                  dataType="string"
                  [visible]="type==='full'"></dxi-column>
      <dxi-column dataField="DataType"
                  dataType="object "
                  [visible]="type === 'basic' || type==='full'">
        <dxo-lookup [dataSource]="metaTypesService.dataTypes"
                    valueExpr="id"
                    displayExpr="Name">
        </dxo-lookup>
      </dxi-column>

      <dxi-column dataField="formSnapshot.Name"
                  dataType="string"
                  [groupIndex]="(group)? 0 :-1"
                  [visible]="type==='full'">
      </dxi-column>

    </dx-data-grid>

  </div>
</div>
