<div class="row">
  <div class="col-xs-12">
    <p>
      Initially this grid will only load 300 items, set the scrollbar all the way to the right to get the entire available data
      set. Use the header menu to filter the Form column according to the fields you've selected to display.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="input-group">

      <dx-slider [width]="640"
                 [min]="0"
                 [max]="10000"
                 [(value)]="sliderValue">
        <dxo-tooltip [enabled]="true"></dxo-tooltip>
        <dxo-label [visible]="true"
                   position="top"></dxo-label>

      </dx-slider>

      <span class="input-group-btn">
        <dx-button text="Apply"
                   (onClick)="getDataBySlider()"
                   type="normal"
                   [elementAttr]="{class: 'btn btn-default slider-apply-button' }">

        </dx-button>
      </span>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <dx-data-grid #grid
                  id="gridContainer"
                  [dataSource]="gridData"
                  [remoteOperations]="false"
                  [allowColumnReordering]="true"
                  [rowAlternationEnabled]="true"
                  [hoverStateEnabled]="true">

      <dxo-header-filter [visible]="true"></dxo-header-filter>

      <!-- <dxo-selection mode="multiple"></dxo-selection> -->

      <!-- <dxo-editing mode="form"
                   [allowUpdating]="true"
                   [useIcons]="true"></dxo-editing> -->

      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true"
                 [allowedPageSizes]="[10, 25, 50, 100]"></dxo-pager>
      <dxo-search-panel [visible]="true"
                        [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxo-group-panel [visible]="true"></dxo-group-panel>
      <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

      <dxi-column *ngFor="let column of selectedColumns"
                  [dataField]="column.Name"
                  [dataType]="column.DataType"></dxi-column>
      <dxi-column dataField="Form"
                  dataType="string"></dxi-column>

    </dx-data-grid>

  </div>
</div>
