<div class="navbar navbar-light">
  <a class="navbar-brand"
     href="#">Task Management Test App</a>


  <div class="collapse navbar-collapse"
       id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active">
        <a  routerLink='/form-builder'
        routerLinkActive="active"> Form Builder
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="container">


  <router-outlet></router-outlet>


</div>
