<app-field-meta (rowsSelected)="selectedFields=$event" [group]="true"></app-field-meta>

<hr>
<app-dynamic-grid [(selectedColumns)]="selectedFields"></app-dynamic-grid>

<hr>

<div class="row">
  <div class="col-xs-12">
    <app-footer></app-footer>
  </div>
</div>
