<div class="row">
  <div class="col-xs-7">
    <app-field-meta (rowsSelected)="newFieldsSelected($event)"
                    [group]="false"
                    [type]="'basic'"
                    [pageSize]="25"></app-field-meta>

  </div>
  <div class="col-xs-5">
    <h4>Form Preview</h4>
    <div *ngIf="formSchema">
      <json-schema-form loadExternalAssets="true"
                        [schema]="formSchema"
                        [layout]="formLayout"
                        >
      </json-schema-form>
    </div>
  </div>
</div>
